<h1>Xoa san pham</h1>
<form [formGroup]="productForm" (ngSubmit)="deleteProduct(id)">
  <table>
    <tr>
      <td>Ma san pham</td>
      <td><input type="number" formControlName="id"></td>
    </tr>
    <tr>
      <td>Ten san pham</td>
      <td><input type="text" formControlName="name"></td>
    </tr>
    <tr>
      <td>Gia san pham</td>
      <td><input type="number" formControlName="price"></td>
    </tr>
    <tr>
      <td>Mo ta ve san pham</td>
      <td><input type="text" formControlName="description"></td>
    </tr>
    <tr>
      <td></td>
      <td><button>Xoa</button></td>
    </tr>
  </table>
</form>
